<div class="jumbotron">
    <h1>University Management System</h1>
    <p class="lead">A simple test project</p>
    <p>@*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Department</h2>
        <p>University department controller</p>
        <p><a class="btn btn-default" href="/Department/Index">Control Department &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Course</h2>
        <p>Course manager</p>
        <p><a class="btn btn-default" href="/Course/Index">Control Course &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Student</h2>
        <p>Student manager</p>
        <p><a class="btn btn-default" href="/Student/Index">Control Student &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Enrollment</h2>
        <p>Student enrollment manager</p>
        <p><a class="btn btn-default" href="/Enrollment/Index">Control Enrollment &raquo;</a></p>
    </div>
</div>
